@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
@using (Html.BeginForm("Register", "MVCWCFClient", FormMethod.Post))
{
    <!-- form goes here -->

    <input type="submit" value="Sign Up" />
}